<header class="header">

    <a class="logo">
        <picture>
            
            <source srcset="assets/img/logo-desktop.png" media="(min-width: 1200px)">

            <source srcset="assets/img/logo-tablet.png" media="(min-width: 768px) and (max-width: 1200px)">
            <img class="logo__image" src="assets/img/logo-small.png" alt="Барбершоп Бородинский">
        </picture>
        
    </a>

    <nav class="nav">
        <div class="nav__inner">

            <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link nav__link--active"><span class="nav__link-text">Главная</span></a></li>
                <li class="nav__item"><a href="/portfolio.html" class="nav__link"><span class="nav__link-text">Наши работы</span class="nav__link-text"></a></li>
                <li class="nav__item"><a href="/form.html" class="nav__link"><span class="nav__link-text">Записаться</span></a></li>
                <li class="nav__item"><a href="#" class="nav__link"><span class="nav__link-text">Контакты</span></a></li>
                <li class="nav__item"><a href="#" class="nav__link"><span class="nav__link-text">Html academy</span></a></li>
                <li class="nav__item"><a href="#" class="nav__link nav__link--login"><span class="nav__link-text">Вход</span></a></li>
            </ul>

        
        <!-- plugin -->
        <button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </button>
        <!-- /plugin -->

        </div>
    </nav>
    
</header>