<section class="news">
    <div class="news__inner">
        <h2 class="news__title">
            Новости и акции
        </h2>
        
        <ul class="news__list">
            <li class="news__item">
                <time class="news__date"><b class="news__day">29<br></b> сент</time>
                <p class="news__text">
                    Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.
                </p>
            </li>
            <li class="news__item">
                <time class="news__date"><b class="news__day">19<br></b> сент</time>
                <p class="news__text">
                    В нашей команде пополнение, Борис «Бритва» Стригунец, пополнил наши стройные ряды. Спешите записаться!
                </p>
            </li>
            <li class="news__item">
                <time class="news__date"><b class="news__day">9<br></b> сент</time>
                <p class="news__text">
                    Все дорожает, а наши стрижки нет! Как так? Приходите, постригитесь и узнаете, в чем здесь подвох!
                </p>
            </li>
        </ul>
        <a href="#" class="news__button">показать все</a>
    </div>
</section>