<section class="photo">
    <div class="photo__inner">
        <div class="photo__header">
            <div class="photo__headline">Наши работы</div>

            <a href="/" class="photo__button">На главную</a>
        </div>

        <div class="photo__list">
            <div class="photo__item">
                <div class="photo__image photo__image--best-work">
                    <picture>
                        <source srcset="assets/img/1-photo-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="assets/img/1-photo-tablet.jpg" media="(min-width: 768px) and (max-width: 1200px)" >
                        <img src="assets/img/1-photo.jpg" alt="">
                    </picture>
                </div>
                <div class="photo__text">
                    <b class="photo__author">Лжепётр Мчиславский</b>
                    <p class="photo__comment">Где я только ни стригся, но так как делаете это вы — не умеет никто другой! Еще раз спасибо и до скорого!</p>
                    <div class="photo__service">
                        <div class="photo__service-item photo__service-item--scissors">Стрижка</div>
                        <div class="photo__service-item photo__service-item--beard">Бритье</div>
                        <div class="photo__service-item photo__service-item--mustache">Усы</div>
                    </div>
                </div>
            </div>
            <div class="photo__item">
                <div class="photo__image">
                    <picture>
                        <source srcset="assets/img/2-photo-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="assets/img/2-photo-tablet.jpg" media="(min-width: 768px)">
                        <img src="assets/img/2-photo.jpg" alt="">
                    </picture>
                </div>
                <div class="photo__text">
                    <b class="photo__author">Саша Мальцев</b>
                    <p class="photo__comment">Попросил омолодить и омолодили! Кто теперь скажет, что мне 45? </p>
                    <div class="photo__service">
                        <div class="photo__service-item photo__service-item--scissors">Стрижка</div>
                    </div>
                </div>
            </div>
            <div class="photo__item">
                <div class="photo__image">
                    <picture>
                        <source srcset="assets/img/3-photo-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="assets/img/3-photo-tablet.jpg" media="(min-width: 768px)">
                        <img src="assets/img/3-photo.jpg" alt="">
                    </picture>
                    
                </div>
                <div class="photo__text">
                    <b class="photo__author">Владимир Иваныч</b>
                    <p class="photo__comment">К зимнему сезону — готов!</p>
                    <div class="photo__service">
                        <div class="photo__service-item photo__service-item--beard">Борода</div>
                        <div class="photo__service-item photo__service-item--mustache">Усы</div>
                    </div>
                </div>
            </div>
            <div class="photo__item">
                <div class="photo__image">
                    <picture>
                        <source srcset="assets/img/4-photo-desktop.jpg" media="(min-width: 1200px)">
                        <source srcset="assets/img/4-photo-tablet.jpg" media="(min-width: 768px)">
                        <img src="assets/img/4-photo.jpg" alt="">
                    </picture>
                    
                </div>
                <div class="photo__text">
                    <b class="photo__author">Винстон Синий</b>
                    <p class="photo__comment">Как только заростаю и волосы начинают мешать видеть — бегом в Бородинский!</p>
                    <div class="photo__service">
                        <div class="photo__service-item photo__service-item--scissors">Стрижка</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
