<div class="price">
    <div class="price__inner">
        <h2 class="price__headline">Прейскурант</h2>

        <div class="price__wrapper">
            <table class="price__table">
                <tbody>
                    <tr class="price__item">
                        <td class="price__index">1</td>
                        <td class="price__service">Классическая стрижка</td>
                        <td class="price__wash"><span class="price__wash--parentheses">(</span>с мытьём головы<span
                                class="price__wash--parentheses">)</span></td>
                        <td class="price__value">1 500 руб.</td>
                    </tr>
                    <tr class="price__item">
                        <td class="price__index">2</td>
                        <td class="price__service">Современный вариант</td>
                        <td class="price__wash"><span class="price__wash--parentheses">(</span>с мытьём головы<span
                                class="price__wash--parentheses">)</span></td>
                        <td class="price__value">1 500 руб.</td>
                    </tr>
                    <tr class="price__item">
                        <td class="price__index">3</td>
                        <td class="price__service">Индивидуальный подход</td>
                        <td class="price__wash"><span class="price__wash--parentheses">(</span>с мытьём головы<span
                                class="price__wash--parentheses">)</span></td>
                        <td class="price__value">2 000 руб.</td>
                    </tr>
                    <tr class="price__item">
                        <td class="price__index">4</td>
                        <td class="price__service">Бритьё бороды</td>
                        <td class="price__wash"><span class="price__wash--parentheses">(</span>без мытья<span
                                class="price__wash--parentheses">)</span></td>
                        <td class="price__value">500 руб.</td>
                    </tr>
                    <tr class="price__item">
                        <td class="price__index">5</td>
                        <td class="price__service">Бритьё головы</td>
                        <td class="price__wash"><span class="price__wash--parentheses">(</span>с мытьём головы<span
                                class="price__wash--parentheses">)</span></td>
                        <td class="price__value">1 000 руб.</td>
                    </tr>
                </tbody>
            </table>

            <p class="price__time">
                <span class="price__time--text">C 10:00 до 14:00 скидка 20%</span>
            </p>
        </div>


    </div>
</div>