<section class="reviews">
    <div class="reviews__inner">
        <h2 class="reviews__title">Отзывы о нас</h2>

        <div class="reviews__slider">
            <div class="">
                <div class="reviews__item">
                    <picture class="reviews__image">
                        <source srcset="assets/img/travis--desktop.png" media="(min-width: 1200px)">

                        <source srcset="assets/img/travis.png"
                            media="(min-width: 768px) and (max-width: 1200px)">

                        <img src="assets/img/slider-img.png" alt="">
                    </picture>

                    <p class="reviews__author">Трэвис Баркер</p>
                    <p class="reviews__text">
                        Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                    </p>
                </div>
            </div>

            <div class="">
                <div class="reviews__item">
                    <picture class="reviews__image">
                        <source srcset="assets/img/travis--desktop.png" media="(min-width: 1200px)">

                        <source srcset="assets/img/travis.png"
                            media="(min-width: 768px) and (max-width: 1200px)">

                        <img src="assets/img/slider-img.png" alt="">
                    </picture>
                    <p class="reviews__author">Трэвис Баркер</p>
                    <p class="reviews__text">
                        Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                    </p>
                </div>
            </div>

            <div class="">
                <div class="reviews__item">
                    <picture class="reviews__image">
                        <source srcset="assets/img/travis--desktop.png" media="(min-width: 1200px)">

                        <source srcset="assets/img/travis.png"
                            media="(min-width: 768px) and (max-width: 1200px)">

                        <img src="assets/img/slider-img.png" alt="">
                    </picture>
                    <p class="reviews__author">Трэвис Баркер</p>
                    <p class="reviews__text">
                        Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                    </p>
                </div>
            </div>
        </div>

        <div class="reviews__slider-controls">
            <div class="reviews__slider-arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 20.78">
                    <title>arrow</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <polygon points="0 10.39 18 20.79 18 0 0 10.39" />
                        </g>
                    </g>
                </svg>
            </div>
            <div class="reviews__slider-arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 20.78">
                    <title>arrow</title>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <polygon points="0 10.39 18 20.79 18 0 0 10.39" />
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <a href="#" class="reviews__button">Оставить свой</a>
    </div>
</section>