<div class="signin__wrapper animated">
    <form class="signin modal">
        <div class="signin__inner">
    
    
            <h2 class="signin__title">
                Личный кабинет
            </h2>
            <p class="signin__text">Введите свой логин и пароль, чтобы войти</p>
            <input required type="text" class="signin__login" name="login" id="login" placeholder="Логин">
            <input required type="password" class="signin__password" name="password" id="password" placeholder="Пароль">
            <input type="checkbox" id="remember">
            <label class="signin__remember" for="remember">Запомните меня</label>
            <a href="#" class="signin__forget"><span class="signin__forget--text">Я забыл пароль!</span></a>
            <button class="signin__submit" type="submit">Войти <span class="signin__submit--full">в личный
                    кабинет</span></button>
            <button class="signin__close">Закрыть</button>
        </div>
    </form>
</div>
