<section class="stats">

    <header class="stats__header">

        <span class="stats__slogan">Стрижка у нас это выгодно!</span>

        <p class="stats__intro">Мужская стрижка требует точного подхода. Обратимся к статистике:</p>

        
    </header>

    <table class="stats__table">

        <tr class="stats__item">
            <td class="stats__value">1 500<span class="stats__value--asterisk">*</span class="asterisk"></td>
            <td class="stats__field">рублей вложений</td>
        </tr>
        <tr class="stats__item">
            <td class="stats__value">7 200</td>
            <td class="stats__field">секунд времени мастера</td>
        </tr>
        <tr class="stats__item">
            <td class="stats__value">90 000</td>
            <td class="stats__field">постриженных волос</td>
        </tr>
        <tr class="stats__item">
            <td class="stats__value">500 000<span class="stats__value--asterisk">*</span></td>
            <td class="stats__field">лайков и комплиментов</td>
        </tr>

    </table>
    
    <span class="stats__legend">* — приведённые данные ложь</span>

    </div>
</section>